/* Custom CSS
---------------------------------------- */

.forabg ul.topiclist li.header, .forumbg ul.topiclist li.header {
	background-repeat: repeat-x;
	border-radius: 4px;
	margin: 0;
	padding-left: 15px;
	position: relative;
	text-transform: none;
	height: 30px;
    line-height: 2.2em;
}

span.rounded_corners_top {
	border-radius: 30px;
	display: inline-block;
	padding: 0 5px;
	width: 300px;
}
