<!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
{$BEGIN_TCORNERS}{MESSAGE_TITLE}{$END_TCORNERS}
<div class="panel" style="margin-bottom: 0;">

	<p style="margin-bottom: 0; padding: 6px; color: #FFFFFF;">{MESSAGE_TEXT}</p>
	
</div>
	{$BCORNERS}
		<br />
		
	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="submit" name="confirm" value="{L_YES}" class="button2" />&nbsp; 
		<input type="submit" name="cancel" value="{L_NO}" class="button2" />
	</fieldset>
	
</form>

<!-- INCLUDE overall_footer.html -->
